# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Virtual environment
venv/
env/
.env

# Dataset 
dataset/

# Model checkpoints
checkpoints/
*.pth
*.pt

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Results (optional)
# assets/results/

# Colab secrets
*.json